@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #FFFCFA;
}
/* @font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('opentype');
} */